<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">

<div class="main-container">
    <div class="navbar">
        <span><img src="../../../assets/formsapp-logo.svg" alt="" srcset=""></span>
        <span class="spacer"></span>
            </div>

    <div class="sidenav-container ">
        <div mode="side" opened class="sidenav" style="overflow: hidden; height: 90vh;">
            <nav id="sidebarMenu" class="sidebar" style="display: flex; flex-direction: column; height: 100%;">
              <div class="n" style="flex-grow: 1; overflow: hidden;">
                <div class="sidebar">
                    <div class="sidebar-item">
                        <i class="fa fa-folder icon"></i>
                        
                        <span  class="title"> <img  class="fo" src="https://cdn-icons-png.flaticon.com/512/6421/6421284.png" alt="">MES FORMULAIRES</span>
                        <span class="count">(0)</span>
                    </div>
                    <div class="folder">
                        <i class="fa fa-folder-plus icon"></i>
                        <span> <img  class="aj" src="https://c8.alamy.com/compfr/2c307jw/icone-nouveau-dossier-de-l-ordinateur-creer-un-nouveau-dossier-de-fichiers-ajouter-un-nouveau-dossier-illustration-vectorielle-2c307jw.jpg" alt=""> Créer un nouveau dossier</span>
                    </div>
                </div>
              </div>
              <div class="C" style="flex-shrink: 0;">
                <div class="row d-flex align-items-center">
                  

                  <div class="item">
                    <h5 class="D">
                      <button class="b text-white">
                        Gratuit            
                      </button>
<div class="ms-auto dropdown dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                      <li><a class="dropdown-item" href="#">Formulaire de quota</a></li>
                      <li><a class="dropdown-item" href="#">Quota de réponses mensuelles</a></li>
                      <li><a class="dropdown-item" href="#">Quota de vues de formulaire</a></li>
                    </ul>
                  </div>                    </h5>
                  </div>

                  
                </div>
                <div class="item d-grid gap-2 ">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6wfkUdtD30_s12oxJfuWnR05Hi39N2bSyNQ&s" class="icon-img"> <a href="archive"> Archive
                    <span class="count">(0)</span></a>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://img.freepik.com/vecteurs-premium/icone-corbeille-icone-corbeille_645658-3622.jpg" class="icon-img"> <a href="corbeille"> Corbeille
                    <span class="count">(0)</span></a>
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmWpEreV5G9wriNvCqU8rde97qeiH1l73_jg&s" class="icon-img"> Mes Soumissions
                  </h5>
                </div>
                <div class="item">
                  <h5 class="D">
                    <img src="https://static.vecteezy.com/ti/vecteur-libre/p3/8134814-utilisateur-groupe-reseau-entreprise-equipe-groupe-communaute-membre-icone-entreprise-equipe-travail-activite-personnel-unite-icone-gratuit-vectoriel.jpg" class="icon-img"> Membres d'équipe
                  </h5>
                </div>
              </div>
            </nav>
        </div>

        <div class="content">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <h5>MES SOUMISSIONS</h5>

                    <div class="icon">
                    <form class="d-flex" role="search" >
                      <input class="form-control me-2" type="search" placeholder="Chercher" aria-label="Search" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0"/>
                      </svg>
                    </form>
                </div>
                
                </div>
                <div class="card">
                  <div class="card-body">
                   <h5> Brouillons</h5>
                   <div class="sous">
                    Aucun projet n'est enrégistré
                   </div>
                  </div>
                </div>

                <div class="card">
                  <div class="card-body">
                   <h5> Complété</h5>
                   <hr>
                   <div class="souM">
                    Aucun projet n'est enrégistré
                   </div>
                  </div>
              </div>

        </div>
    </div>
</div>